---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/838177043c474405bcbc09826a13153b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 92fc6fc2-bd35-418d-a97e-77d6f3082b00
      etag:
      - W/"5ff-azuRpjUjYA3YjmnMDZ4sfB4BycI"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"83817704-3c47-4405-bcbc-09826a13153b","created_time":"2024-01-22T06:57:00.000Z","last_edited_time":"2024-01-25T04:50:00.000Z","created_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"last_edited_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"cover":null,"icon":{"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/5758ba68-cfd2-4a36-b622-fe9551804f02/1d07fa7e-bc25-445b-8981-85b6fd1baa2e/%E1%84%8E%E1%85%B1%E1%84%8B%E1%85%A5%E1%86%B8%E1%84%89%E1%85%A1%E1%84%8C%E1%85%B5%E1%86%AB%28%E1%84%8B%E1%85%AF%E1%86%AB%E1%84%92%E1%85%A7%E1%86%BC%29.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45HZZMZUHI%2F20240125%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240125T051649Z&X-Amz-Expires=3600&X-Amz-Signature=7907508feb556ec3b50448a42ba69a7165f78472cb1609b0f197e96e768528c3&X-Amz-SignedHeaders=host&x-id=GetObject","expiry_time":"2024-01-25T06:16:49.897Z"}},"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"CV","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"CV","href":null}]}},"url":"https://www.notion.so/CV-838177043c474405bcbc09826a13153b","public_url":"https://organized-manchego-5df.notion.site/CV-838177043c474405bcbc09826a13153b","request_id":"92fc6fc2-bd35-418d-a97e-77d6f3082b00"}'
  recorded_at: Thu, 25 Jan 2024 05:16:49 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/838177043c474405bcbc09826a13153b/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 55953994-83c4-4a48-9dd8-bba0a4ee7c06
      etag:
      - W/"1d348-qVbydgrvcBbxe9/TFjXZK4J1gc8"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"2750c0c7-0478-4f5f-8b45-28524c14b363","parent":{"type":"page_id","page_id":"83817704-3c47-4405-bcbc-09826a13153b"},"created_time":"2024-01-22T06:57:00.000Z","last_edited_time":"2024-01-23T16:34:00.000Z","created_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"last_edited_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"gray"}},{"object":"block","id":"603e3160-8dc0-4f49-911a-352d804f0beb","parent":{"type":"page_id","page_id":"83817704-3c47-4405-bcbc-09826a13153b"},"created_time":"2024-01-22T06:57:00.000Z","last_edited_time":"2024-01-22T06:57:00.000Z","created_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"last_edited_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"has_children":false,"archived":false,"type":"divider","divider":{}},{"object":"block","id":"37b57799-74c7-437f-bd5b-15dce854a8ef","parent":{"type":"page_id","page_id":"83817704-3c47-4405-bcbc-09826a13153b"},"created_time":"2024-01-22T06:57:00.000Z","last_edited_time":"2024-01-22T10:16:00.000Z","created_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"last_edited_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Biography","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Biography","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"8ce6a98a-50ad-4a10-8e60-86dd9cb0bdd2","parent":{"type":"page_id","page_id":"83817704-3c47-4405-bcbc-09826a13153b"},"created_time":"2024-01-22T06:57:00.000Z","last_edited_time":"2024-01-22T07:49:00.000Z","created_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"last_edited_by":{"object":"user","id":"cc53e593-2403-4348-9785-9686456ff120"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"t[...]
[...]
